/* alert card */
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%; 
  height: 60px;
  background-color: rgb(249, 98, 98);
  border: 1px solid #da4e4e; 
  border-radius: 10px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-left: 4%; 
  margin-top: 3%;
  padding: 10px;
  align-items: center;
  text-align: center;
}
.card-text {
  font-size: 20px; 
  font-family: 'Roboto', sans-serif;
  color: #333;
}
marquee{
  font-size: 20px; 
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-weight: bold;
}
.card-btn {
  background-color: white;
  color:#da4e4e; 
  border: none;
  border-radius: 5px; 
  padding: 10px; 
  font-size: 26px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 200px;
  height: 40px;
  margin-right:5px;
  margin-top:5px ;
}
.Imgback{
  background-image: url("../../background1.jpg");
  margin-top: 10px;
  padding:10px;
}
.card-btn:hover {
  background-color: #95e8ff;}

/* 4 button container*/
.container
{
  margin-bottom: 1%;
  margin-top: 1%;
  align-items: center;
  text-align: center;
}
.containerAgency
{ 
  scale: 1.5;
  align-items: center;
  text-align: center;
}

.navAgency{
  width: 230px;
  height: 100px;
  border: none;
  border-radius: 50%;
  background-color: rgb(224, 75, 75);
  border: 1px solid #543636; 
  color: white;
  font-style: italic;
  font-size: 30px;
  font-weight: 100;
  box-shadow: 2px 2px 10px grey;
}

.navButtons{
  width: 40%;
  height: 100px;
  border: none;
  border-radius: 18px;
  background-color: #574444; 
  color: white;
  font-size: 30px;
  font-weight: 100;
  margin-right: 25px;
  margin-top: 45px;
  margin-left: 45px;
  box-shadow: 2px 2px 10px grey;
}

.navButtons:hover {
  transform: scale(1.1);
  transition: 0.75s;
}
.navAgency:hover {
  transform: scale(1.1);
  transition: 0.75s;
}
.body{
  background-image: url(../background1.jpg);
}