/* its header */
header {
  background-image: linear-gradient(to right, #41559e , #cc5200);
  color: #fff;
  padding: 20px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:-10px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.dropbtn {
  margin-left:auto ;
  margin-right: auto;
  display: block;
  width: 48px;
  height: 48px;
  margin-right: 50px;
  margin-top: 20px;
  float: right;
  background-image: url('../../menu.png');
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  float: right;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  min-width: 160px;
  z-index: 1;
}
.dropdown-content li {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  float: left;
}




.dropdown:hover .dropdown-content {display: block;}


.logo{
  /* width: 25%; */
  float: left;
}
.heading3{
  width: 50%;
  flex-direction: block;
}
.logo img {
  width:50px; 
  height: auto; 
  margin-left: 40px;
}

.heading2{
  font-size: 30px;
  font-weight: bold;
  
}
.heading{  
  font-size: 25px;
  font-weight: bold;
}
.navbarr{
  /* width: 25%; */
  float: right;
}
nav ul {
  list-style:none;
  margin: 21px;
  padding-right: 5px;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 25px;
}
.topDiv:hover{
  color: #fff;
  transform: scale(1.1);
  transition: 0.25s;
  
}

nav a:hover {
  text-decoration: none; 
}